@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ============variable css============= */
:root {
  --primary-color: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* ============reuseable css============= */
.title-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-font {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subtitle-font {
  color: #534c64;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  /* background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%); */
  
  background: var(--primary-color);
}
/* ============reuseable css============= */
