@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ============variable css============= */
:root {
  --primary-color: #ff42a5;
  --secondary-color: #4ec5f7;
  --medium-font: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #0b0223;
}
img {
  max-width: 100%;
  height: auto;
}

/* ============reuseable css============= */
.title-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-font {
  font-size: var(--medium-font);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subtitle-font {
  color: #534c64;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
}
.container {
  width: 100%;
  padding: 0 10%;
}
.flex {
  display: flex;
}
.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ============reuseable css============= */

/* ============navigation============= */
.navbar {
  min-height: 4rem;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 3.4rem;
  height: 1.5rem;
}
.logo-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: normal;
}
.logo {
  gap: 10px;
}
.first-letter {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link {
  gap: 25px;
  font-weight: 400;
}
.follow-us {
  gap: 15px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}
.bxl-youtube {
  font-size: 2rem;
  color: #f61c0d;
}
.bxl-tiktok {
  font-size: 1.4rem;
  align-self: center;
}

/* ============banner============= */
.banner {
  gap: 2%;
}
.banner-description {
  width: 45%;
}
.banner-img {
  width: 53%;
}
.flex-col-center {
  align-items: flex-start;
  gap: 5px;
}
.banner-title {
  font-size: 2.3rem;
  font-weight: 600;
}
.banner-title-font {
  font-size: 4.2rem;
  font-weight: 900;
}
.banner-subtitle-font {
  font-weight: 500;
  margin-bottom: 10px;
}
.icon-text {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 5px;
}
.bxs {
  color: var(--primary-color);
}
.btns {
  gap: 20px;
}
.btn {
  padding: 12px 22px;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 40px;
}
.btn1 {
  background-color: var(--primary-color);
}
.btn2 {
  background-color: var(--secondary-color);
}
/* ============gamer-section============= */
.gamer-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.section-img {
  width: 60%;
}
.section-description {
  width: 50%;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 15px;
}
.purpose {
  color: #534c64;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

/* ==========Online Game Section========== */
.section-online-game {
  padding-top: 40px;
}
.online-game-description {
  text-align: center;
  margin-bottom: 2rem;
}
.online-game-line-spacing {
  line-height: 3rem;
}
.play-now i {
  font-size: 34px;
}
.play-now {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.card-desc {
  font-weight: 600;
}
.video-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.video-card {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
}
.image-container {
  width: 230px;
  height: 269px;
  position: relative;
}
.image-container img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.image-container:hover {
  border: 2px solid var(--primary-color);
  border-radius: 12px;
}
.image-container .overlay1 {
  border: 0px solid var(--primary-color);
  opacity: 1;
}
.image-container .play-now1 {
  visibility: visible;
  transition: 3s ease;
}
.image-container:hover .overlay {
  border: 0px solid var(--primary-color);
  opacity: 1;
}
.image-container:hover .play-now {
  visibility: visible;
  transition: 3s ease;
}

/* =============play-instantly1============= */
.play-instantly1 {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4%;
}
.play-instantly-description {
  text-align: end;
  padding-right: 60px;
  width: 48%;
}
.play-instantly-image {
  flex-grow: 1;
  display: flex;
  justify-content: end;
  position: relative;
}
.main-image {
  width: 400px;
  height: 450px;
}
.position-image {
  position: absolute;
  left: -20px;
  bottom: -30px;
  z-index: 1;
  width: 200px;
  height: 250px;
}
.position-image img {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}
/* =============play-instantly2============= */
.play-instantly2 {
  padding-top: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.play-instantly-description2 {
  text-align: start;
  padding-left: 80px;
  width: 48%;
}
.play-instantly-image2 {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  position: relative;
}
.main_img2 {
  width: 400px;
  height: 450px;
}
.position_img2 {
  position: absolute;
  right: 10px;
  bottom: -8px;
  z-index: 1;
  display: inline-block;
  width: 200px;
  height: 250px;
}
.position_img2 img {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}
/* =============button-link-section============= */
.carrer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  background-color: var(--primary-color);
}
.carrer-description {
  width: 50%;
}
.carrer-image {
  width: 48%;
}
.text-white {
  color: #fff;
}
.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  line-height: 2rem;
}
.right {
  text-align: end;
}
.carrer-description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.btn3 {
  color: var(--primary-color);
  width: 180px;
}
/* =============button-link-section============= */
.button-link-section {
  padding: 40px 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 15px;
}
.button-name {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 4px 8px;
  border-radius: 40px;
}
.game-img {
  width: 40px;
  height: 40px;
}
.btn-fixed {
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
}
.button-name:hover {
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
}

/* =============Responsive============= */
.footer-section {
  padding: 50px 0;
  background-color: #0b0223;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-title {
  color: #fff;
}
.text-color {
  color: #fff;
}
.footer-link {
  display: flex;
  justify-content: center;
}
.link a {
  margin: 0 40px;
}
.link2 a {
  margin: 0 20px;
  font-weight: 400;
}
.icon-link a {
  margin: 0 10px;
  vertical-align: middle;
}
.bxl-linkedin {
  font-size: 2rem;
  color: #0a66c2;
}
.bxl-twitter {
  font-size: 2rem;
  color: #00acee;
}
.bxl-facebook-circle {
  font-size: 2rem;
  color: #3b5998;
}
.bxl-instagram {
  font-size: 2rem;
  color: #fccc63;
}
.bxl-apple {
  font-size: 2rem;
  color: #66b447;
}

/* =============Responsive============= */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 10px 0;
  }
  .navbar,
  .nav-link,
  .gamer-section,
  .play-instantly1,
  .play-instantly2,
  .carrer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .navbar {
    padding: 30px 0 30px;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 20px 4%;
  }
  .banner-description {
    align-items: center;
    /* padding-bottom: 20px; */
  }
  .video-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .banner-description,
  .banner-img,
  .section-img,
  .section-description,
  .play-instantly-description,
  .play-instantly-description2 {
    width: 100%;
  }
  .section-description,
  .play-instantly1,
  .play-instantly2,
  .footer-section {
    padding: 20px;
  }
  .section-description {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .main-image {
    width: 250px;
    height: 300px;
  }
  .position-image {
    width: 130px;
    height: 180px;
    position: absolute;
    bottom: -30px;
    left: -50px;
  }
  .play-instantly-image {
    padding: 0 auto;
    position: relative;
  }
  .play-instantly-description,
  .play-instantly-description2 {
    text-align: center;
    padding: 0;
  }
  .main_img2 {
    width: 250px;
    height: 300px;
  }
  .position_img2 {
    width: 130px;
    height: 180px;
    position: absolute;
    bottom: -10px;
    right: -60px;
  }
  .play-instantly-image2 {
    padding: 0 auto;
    position: relative;
  }
  .button-link-section {
    /* padding: 10px 5px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }
  .footer-section .link a {
    text-align: center;
    margin: 0 12px;
  }
  .footer-section .link2 a {
    margin: 0 4px;
    text-align: center;
  }
  .carrer {
    padding: 20px 0;
  }
  .carrer-description {
    width: 90%;
  }
  .carrer-image {
    width: 90%;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .gamer-section {
    padding: 20px 10%;
  }
  .video-cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2px;
    row-gap: 30px;
  }
  .main-image {
    width: 300px;
    height: 350px;
  }
  .position-image {
    width: 130px;
    height: 180px;
    position: absolute;
    bottom: -30px;
    left: -50px;
  }
  .play-instantly-image {
    padding: 0 auto;
    position: relative;
  }
  .main_img2 {
    width: 300px;
    height: 350px;
  }
  .position_img2 {
    width: 130px;
    height: 180px;
    position: absolute;
    bottom: -10px;
    right: -60px;
  }
  .button-link-section {
    padding: 10px 10px;
  }
  .play-instantly-image2 {
    padding: 0 auto;
    position: relative;
  }
  .carrer {
    padding: 20px;
  }
}
